html
	head
		title="ElBotcito"
		link(rel="stylesheet" href="css/index.css")
	body
		div.aviso="Lucia: LINDA!"
		div.aviso="Dias sin que lucia sea golpeada por mi: "+diasSinPegar
		div#servers
			div="servers"
			each server in servers
				div
					p=server